html, body {
    height: 100%;
}
body {
	font-family: Helvetica, Arial;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

@font-face {
    font-family: 'PT Serif Caption';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif Caption'), local('PTSerif-Caption'), url(http://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


h1, h2, h3, h4 ,h5, h6{
	font-family:'Scada', Helvetica, Arial;
	font-weight:normal;
}
nav > ul {
	margin:0;
}
nav > ul li{
	float:left;
	margin:0 25px 0 0;
	list-style: none;
}
nav > ul li a:hover{
	
	color:#CA0808;
	text-decoration:none;
}
nav > ul li a{
	font-family:'Open Sans', Helvetica, Arial;
	font-size:14px;
	font-style:italic;
	color:#000;
	font-variant:small-caps;
	padding:0 3px;
	text-decoration:none;
}
.active a{ 
	border-bottom:4px solid #ca0808;
}
div#logo {
	text-align:center;
}
#logo a > img{
	margin:10px 0;
}
.plashka{
	background: url("../img/plashka.png") repeat scroll 0 0 transparent;
    height: 15px;
    width: 100%;
}
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}
#header, #footer{
	background:url("../img/header.png")
}
#footer {
	height: 60px;
}
.nomargin{
	margin:0;
}
